<h1>RFG US Projects</h1>


<p>Showing <%= @projects.count%> US surveys at <%= Time.now.utc %></p>

	<p> Block: id - Co - EPC --- CPI -- GEPC
	
	<h5>rfg_id ------------------ Block ----------------------------------- Remaining -------- Completes -------- TLC ------------ Label ------------ Created</h5>

	<% @projects.each do |c| %>
	    <li>
	       <%= link_to c.rfg_id.to_s + '---' + c.id.to_s + '---' + c.country.to_s + '---' + c.epc.to_s + '-------' + c.cpi.to_s + '-----' + (c.projectEPC).to_s + '------------------' + (c.desiredCompletes - c.currentCompletes).to_s + '------------------' + c.created_at.to_date.to_s, :action =>'show_surveys_CA', :id =>c.id  -%>
	    </li>
	<% end %>