<h1>INDIA Surveys</h1>


<p>Showing <%= @surveys.count%> IN surveys at <%= Time.now.utc %></p>
	
<h5>SuveyNumber --- SurveyId -------- Country ------------ CPI ------- Remaining ------- Conversion ----- GrossRank ------ GEPC -------- Attempts -------- OQs --------- KEPC ------ ALC ----- TCR(%) ----- Completes --------- TLC </h5>

    <% @surveys.each do |c| %>
    <li>
       <%= link_to c.SurveyNumber.to_s + '---------------' + c.id.to_s + '-------------------' + c.CountryLanguageID.to_s + '-------------------' + c.CPI.to_s + '-------------------' + c.TotalRemaining.to_s + '-------------------' + c.Conversion.to_s + '-------------------' + c.SurveyGrossRank.to_s + '--------------------' + (c.GEPC).round(3).to_s + '--------------------' + c.SurveyExactRank.to_s + '--------------------' + c.OverQuotaCount.to_s + '--------------------' + c.KEPC.round(2).to_s + '--------------' + c.NumberofAttemptsAtLastComplete.to_s + '--------------' + (c.TCR*100).round(1).to_s + '--------------------' + c.CompletedBy.length.to_s + '---------------' + c.CompletedBy.flatten(2).at(-4).to_s, :action =>'show_surveys_IN', :id =>c.id  -%>
    </li>
    <% end %>
