<h1>AUSTRALIA Surveys</h1>

<p>Showing <%= @surveys.count%> AU surveys:</p>
	
<h5>SNumber - SurveyId ------ Country -------- CPI ----- Remaining ----- Conversion --- GrossRank ---- GEPC ------ Attempts ------ OQs ------ KEPC ------ ALC ----- TCR(%) ----- Completes ----- TLC </h5>

    <% @surveys.each do |c| %>
    <li>
       <%= link_to c.SurveyNumber.to_s + '-------' + c.id.to_s + '----------------' + c.CountryLanguageID.to_s + '----------------' + c.CPI.to_s + '----------------' + c.TotalRemaining.to_s + '-----------------' + c.Conversion.to_s + '-----------------' + c.SurveyGrossRank.to_s + '-----------------' + c.SurveyQuotaCalcTypeID.to_s + '------------------' + c.SurveyExactRank.to_s + '---------------' + c.SampleTypeID.to_s + '--------------' + c.KEPC.to_s + '--------------' + c.NumberofAttemptsAtLastComplete.to_s + '--------------' + (c.TCR*100).to_s + '-----------------' + c.CompletedBy.length.to_s + '------------------' + c.CompletedBy.to_a.last.to_s, :action =>'show_surveys_AU', :id =>c.id  -%>
    </li>
    <% end %>
