<h1>AUSTRALIA Respondents</h1>

<h6> Showing last <%= @users.count%> respondents from AU at <%= Time.now.utc %></h6>

<p> Columns: TimeNow -- Id -- Age -- Gender -- Country -- Zip -- Education -- HHI -- Employment -- NetId -- TQ2a -- Attempted -- EmailId -- Clickid -- Completed</p>

    <% @users.each do |c| %>
    <li>
       <%= link_to c.updated_at.to_s + '---' + c.id.to_s + '---' + c.age.to_s + '---' + c.gender.to_s + '---' + c.country.to_s + '---' + c.ZIP.to_s + '---' + c.eduation.to_s + '----' + c.householdincome.to_s + '---' + c.employment.to_s + '-----' + c.netid.slice(0..2).to_s + '---' + c.trap_question_2a_response.to_s + '-------------' + c.SurveysAttempted.to_s + '-------------' + c.emailId.to_s  + '-------' + c.clickid.to_s + '--------------------' + c.SurveysCompleted.flatten(2).at(-4).to_s + ' ' + c.SurveysCompleted.flatten(2).at(-1).to_s, :action =>'show_users_AU', :id =>c.id  -%>
    </li>
    <% end %>