<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Qualifications Entered!</h1>
			</center>
		</header>
		
		<div id="content">
			<center>
				<p>Once you click the Continue button below, we will match you with the best available survey.</p>
				<br><br>
				<%= form_tag("pleasewait", method: "post") do %>
				<div class="agree">
					<%= submit_tag "Continue" %>
				</div>
				<% end %>
			</center>				
		</content>
		<br>
		<br>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>