<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Sample Survey Complete</h1>
			</center>
		</header>
		
		<div id="content">
			<center>
				<p>Thanks for completing this sample survey. This successful complete generated a post back to your server. Please check if a complete has been captured.</p><br><br>
			</center>			
		</content>
		<br>
		<br>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>