<div class="panel">
<div class="alert alert-danger" ng-show="error">
	There was a problem logging in. Please try again.
</div>
<form role="form" ng-submit="login()">
	<div class="row myrow">
		<div class="col-xs-6">
			<div>
				<!--<img src='../img/imgTravelerLogo.png' class="img-responsive col-sm-offset-2"  height="65%" width="50%"/>-->
				&nbsp;
			</div>
<!--			<div><img src='../img/bg.png'/></div>-->
		</div>
		<div class="col-xs-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<!--<img src='../img/imgTravelerBadge@3x.png' class="img-responsive col-sm-offset-4" height="15%" width="30%"/>-->
					<span class="col-sm-offset-5">KETSCI</span>
				</div>
				<div class="panel-body">
					<div class="bottom-align">
						<div class="col-xs-12"><h2>Sign In</h2></div>
						<div class="form-group col-xs-12">
							<input type="text" class="form-control" id="username" name="username" ng-model="credentials.username" placeholder="Email Address"/>
						</div>
						<div class="form-group col-xs-12">
							<input type="password" class="form-control" id="password" name="password" ng-model="credentials.password" placeholder="Password"/>
						</div>
						<div class="pull-right">
							<button type="submit" class="btn btn-danger">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>
</div>