// Place all the styles related to the Leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<!-- // [start style] -->

	html {
	  box-sizing: border-box;
	}
	
	*, *:before, *:after {
	/* This helps with boxes above and below in the form to align properly */
	  box-sizing: inherit;
	}
	
	.body {
        margin: 0;
        padding: 0;
	}
	
	h1 {
		font-weight: 150;
		font-size: 20px;			
	}
	
	p {
		font-weight: 100;
		font-size: 15px;
	}

	#p1 {
		font-weight: 100;
		font-size: 15px;
		color: black;
	}
	
	#bigfont {
		font-weight: 700;
		font-size: 20px;
		color: white;
		font-family: Roboto, helvetica, arial, sans-serif;
	}
	
	#header {
		height: 50px;
		background-color: white;
	}
	
	#container1 {
	    margin-left: auto;
	    margin-right: auto;
	    background-color: transparent;
	}
	
  	#hero {
		height: 200px; /* same as the height of background image */
		background-size: cover;
        background-image: image_url('worldcropped.jpg');
		background-repeat: no-repeat;
		margin-bottom: 0px;
  	}
	
	#container2 {
	    margin-left: auto;
	    margin-right: auto;
		margin-top:0px;
		padding-top:4.0em; /* positions text in container */
	    background-color: transparent;
	}
	
  	#contact {
        margin-top: 0px;
		padding-top: 0.5em;
		padding-bottom: 1.8em;
        background-color: grey;
  	}
	
	#container3 {
	    margin-left: auto;
	    margin-right: auto;
		padding-top: 0.0em;
	    width: 90%;
		font-weight: 10;
		font-size: 6px;
	    color: white;
        font-family: Roboto, helvetica, arial, sans-serif;
	    background-color: transparent;
	}

	fieldset {		
		/* Take it out */
		padding-left: 0px;
		border-width: 0em;
	    border-radius: 0em;
	}
	
	.input {
	    font-size: 2em;
	    padding: 0.5em;
		border-width: 0em;
	    border-radius: 0em;
		width: 260px;
		font-family: sans-serif;
	}
	
	.textarea {
		font-size: 2em;
	    padding: 0.5em;
		border-width: 0em;
	    border-radius: 0em;
		width: 260px;
		font-family: sans-serif;
	}
	
	.button {
	    font-size: 2.5em;
	    padding: 0.5em;
		border-width: 0em;
	    border-radius: 0em;
		width: 260px;
		font-family: sans-serif;
		color: white;
		background: red;
	}
	
	#footer {
        padding: 0.8em;
        background-color: blue;
	}
	
	#container4 {
	    margin-left: auto;
	    margin-right: auto;
	    background-color: transparent;
	    color: white;
        font-family: Roboto, helvetica, arial, sans-serif;
	}
	
	@media only screen and (max-width: 600px) {
	}
	
	@media only screen and (min-width: 601px) and (max-width: 1023px) {
		h1 {
			font-weight: 550;
			font-size: 50px;			
		}
		
		p {
			font-weight: 100;
			font-size: 20px;
		}
		
		#hero {
			height:400px;
		}
		
		#container2 {
			padding-top:10.0em;
		}
		
		#bigfont {
			font-weight: 900;
			font-size: 25px;
			color: white;
			font-family: Roboto, helvetica, arial, sans-serif;
		}
		
		#p1 {
			font-weight: 250;
			font-size: 25px;
			color: black;
		}
		
		#footer {
			font-weight: 20;
			font-size: 10px;
		}
	}
	
	@media only screen and (min-width: 1024px) and (max-width: 1223px) {	
		h1 {
			font-weight: 600;
			font-size: 60px;			
		}

		p {
			font-weight: 500;
			font-size: 30px;			
		}
		
	  	#hero {
	        padding: 1.0em;
			height: 650px;
	  	}
		
		#container2 {
			padding-top:10.0em;
		}
		
		#bigfont {
			font-weight: 900;
			font-size: 30px;
			color: white;
			font-family: Roboto, helvetica, arial, sans-serif;
		}

	  	#contact {
	        padding-top: 0.8em;
		    color: white;
	        font-family: Roboto, helvetica, arial, sans-serif;
	        background-size: cover;
	  	}

		#p1 {
			font-weight: 300;
			font-size: 30px;
			color: black;
		}

		fieldset {
			padding-left: 60px;
		    font-size: 1.5em;
			border-width: 0;
		    border-radius: 0em;
		    font-family: sans-serif;
		}	
		
		#footer {
			font-weight: 25;
			font-size: 15px;
		}
	}
		
		@media only screen and (min-width: 1224px) {	
			h1 {
				font-weight: 600;
				font-size: 60px;			
			}

			p {
				font-weight: 500;
				font-size: 30px;			
			}
		
		  	#hero {
		        padding: 0.8em;
				height: 1000px;
				
		  	}
			
			#container2 {
				padding-top:20em;
			}
			
			#bigfont {
				font-weight: 900;
				font-size: 35px;
				color: white;
				font-family: Roboto, helvetica, arial, sans-serif;
			}

		  	#contact {
		        padding-top: 0.8em;
			    color: white;
		        font-family: Roboto, helvetica, arial, sans-serif;
		        background-size: cover;
		  	}

			#p1 {
				font-weight: 300;
				font-size: 30px;
				color: black;
			}

			fieldset {
				padding-left: 60px;
			    font-size: 1.5em;
				border-width: 0;
			    border-radius: 0em;
			    font-family: sans-serif;
			}	
		
			#footer {
				font-weight: 25;
				font-size: 15px;
			}
		}