// Place all the styles related to the Leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<!-- // [start style] -->

	html {
	  box-sizing: border-box;
	}
	
	*, *:before, *:after {
	/* This helps with boxes above and below in the form to align properly */
	  box-sizing: inherit;
	}
	
	.bodyhome {
        margin: 0px;
        padding: 5px;
		background-color:white;
	}


	@font-face {
	  font-family: 'Aqua Grotesque';    
	  src: url('/assets/fonts/aqua.ttf');
	  font-weight: normal;
	  font-style: normal;
	}
	
	#header {
		height: 150px;
		padding-top: 50px;
		padding-left:0px;
		background-color: white;
	}
	
	#container1 {
	    margin-left: auto;
	    margin-right: auto;
	    background-color: transparent;
	    border-width: 10px;
		border-color: black;
	}
	
	#container2 {
/*	    margin-left: auto; */
/*	    margin-right: auto; */
/*		margin-top:0px; */
		padding-top:4.0em;  /* positions text in container */
	    background-color: transparent;
	}
	
  	#contact {
		height:300; /* keeps the block nice and fixed width on screen */
        margin-top: 0px;
		padding-top: 0.5em;
		padding-bottom: 1.0em;
        background-color: white;
		background-size: cover; /* covers full available space */
  	}
	
	#container3 {
	    margin-left: auto;
	    margin-right: auto;
		padding-top: 1.9em;
		padding-bottom: 4.5em;
		font-weight: 10;
		font-size: 6px;
	    color:black;
        font-family: Roboto, helvetica, arial, sans-serif;
	    background-color:silver;
	}
	
	#footer {
        padding: 3.0em;
        background-color: white;
    /*    color: white;
		height: 300px; 
		background-size: cover; */
	}

	
	
	@media only screen and (max-width: 600px) {

		h1 {
			font-weight: 100;
			font-size: 20px;	
			font-family: 'Aqua Grotesque';
		}

		p1 {
			font-weight: 30;
			font-size: 10px;
		}

		p2 {
			font-weight: 75;
			font-size: 15px;
			font-family: arial;
		}

		p3 {
			font-weight: 100;
			font-size: 15px;
		}

		p4 {
			font-weight: 200;
			font-size: 40px;
			font-family: 'Aqua Grotesque';					
		}

		p5 {
			font-weight: 300;
			font-size: 60px;	
			font-family: 'Aqua Grotesque';
		}
		
	  	#hero {
			height: 300px;  /* same as the height of background image */
			background-size: cover;
			background-image: image_url('worldcropped.jpg');
			background-repeat: no-repeat;
			background-position: center top;
	/*		background-size: 100% auto; worst because picture resizes to keep full picture in view */
	/*		background-attachment: fixed; worst as it makes the rest of the body rollover hero image */
		}

		.panelbutton {
		  	font-size:1em;
		    padding:0.0em;
			border-width:0em;
		    border-radius:0em;
			font-family:Roboto, helvetica, arial, sans-serif;
			width:125px;
			color:white;
			background-color:red;
		}

		.input {
		    font-size:2em;
		    padding:0.5em;
			border-width:0em;
		    border-radius:0em;
			width:260px;
			font-family:Roboto, helvetica, arial, sans-serif;
			background-color:white;
		}

		.textarea {
			font-size: 2.2em;
		    padding: 0.5em;
			border-width: 0em;
		    border-radius: 0em;
		    height: 75px;
			width: 260px;
			font-family: Roboto, helvetica, arial, sans-serif;
			background-color: white;
		}

		.button {
		    font-size:2.5em;
		    padding:0.5em;
			border-width:0em;
		    border-radius:0em;
			width:260px;
			font-family:Roboto, helvetica, arial, sans-serif;
			color:white;
			background-color:pink;
		}

		#alert {
			font-weight: 250;
			font-size: 20px;
			color: black;
		}

	}
	
	@media only screen and (min-width: 601px) and (max-width: 1023px) {

		h1 {
			font-weight: 100;
			font-size: 25px;	
			font-family: 'Aqua Grotesque';		
		}

		p1 {
			font-weight: 50;
			font-size: 12px;
		}

		p2 {
			font-weight: 75;
			font-size: 18px;
			font-family: arial;
		}

		p3 {
			font-weight: 100;
			font-size: 15px;
		}

		p4 {
			font-weight: 200;
			font-size: 40px;		
			font-family: 'Aqua Grotesque';
		}

		p5 {
			font-weight: 300;
			font-size: 60px;
			font-family: 'Aqua Grotesque';		
		}
		
		#hero {
			height:400px; /* keep as the desired height of background image */
			background-size: cover; /* looses cover property even though defined in All */
			background-image: image_url('worldcropped.jpg');
			background-repeat: no-repeat;
			background-position: center top;
	/*		background-size: 100% auto; worst because picture resizes to keep full picture in view */
	/*		background-attachment: fixed; worst as it makes the rest of the body rollover hero image */
		}
		
		#aboutus {
			height: 300px;
			padding-top: 10px;
			padding-left:100px;
			padding-right:100px;
			background-color: white;
			font-weight: 75;
			font-size: 30px;
		}

		#research {
			height: 400px;
			padding-top: 10px;
			padding-left:100px;
			padding-right:100px;
			background-color: white;
			font-weight: 75;
			font-size: 25px;
		}

		#user {
			height: 300px;
			padding-top: 10px;
			padding-left:100px;
			padding-right:100px;
			background-color: white;
			font-weight: 75;
			font-size: 25px;
		}


		#left_col_user {
		   float:left;
		   width:190px;
		}

		#right_col_user {
		   float:right;
		   width:190px;
		}

		.panelbutton {
		  	font-size:1em;
		    padding:0.0em;
			border-width:0em;
		    border-radius:0em;
			font-family:Roboto, helvetica, arial, sans-serif;
			width:150px;
			color:white;
			background-color:red;
		}
		
		#monetize {
			height:375px;
			padding-top: 10px;
			padding-left:100px;
			padding-right:100px;
			background-color: white;
			font-weight: 75;
			font-size: 25px;
		}
		
		#container2 {
			padding-top:10.0em;
		}

		.input {
		    font-size:2em;
		    padding:0.5em;
			border-width:0em;
		    border-radius:0em;
			width:450px;
			font-family:Roboto, helvetica, arial, sans-serif;
			background-color:white;
		}

		.textarea {
			font-size: 2.2em;
		    padding: 0.5em;
			border-width: 0em;
		    border-radius: 0em;
		    height: 75px;
			width: 450px;
			font-family: Roboto, helvetica, arial, sans-serif;
			background-color: white;
		}

		.button {
		    font-size: 2.5em;
		    padding: 0.5em;
			border-width: 0em;
		    border-radius: 0em;
			width:450px;
			font-family: Roboto, helvetica, arial, sans-serif;
			color: white;
			background-color:orange;
		}
		
		#alert {
			font-weight: 300;
			font-size: 25px;
			color: black;
		}
	}
	
	@media only screen and (min-width: 1024px) and (max-width: 2023px) {	
		h1 {
			font-weight: 200;
			font-size: 30px;	
			font-family: 'Aqua Grotesque';				
		}

		p1 {
			font-weight: 60;
			font-size: 15px;
		}

		p2 {
			font-weight: 75;
			font-size: 18px;
			font-family: arial;
		}

		p3 {
			font-weight: 100;
			font-size: 15px;
		}

		p4 {
			font-weight: 200;
			font-size: 40px;	
			font-family: 'Aqua Grotesque';	
		}

		p5 {
			font-weight: 300;
			font-size: 60px;
			font-family: 'Aqua Grotesque';		
		}

		
	  	#hero {
			height: 400px; /* same as for tablet screen */
			background-size: cover;
			background-image: image_url('worldcropped.jpg');
			background-repeat: no-repeat;
			background-position: center top;
	/*		background-size: 100% auto; worst because picture resizes to keep full picture in view */
	/*		background-attachment: fixed; worst as it makes the rest of the body rollover hero image */
	  	}
		
		#aboutus {
			height:200px;
			padding-top:10px;
			padding-left:100px;
			padding-right:100px;
			padding-bottom:10px;
			background-color:white;
			font-weight:75;
			font-size:30px;
		}
		
		#research {
			height:350px;
			padding-top:10px;
			padding-left:100px;
			padding-right:100px;
			padding-bottom:10px;
			background-color:white;
			font-weight:75;
			font-size:30px;
		}

		#monetize {
			height: 325px;
			padding-top: 10px;
			padding-left:100px;
			padding-right:100px;
			background-color: white;
			font-weight: 75;
			font-size: 30px;
		}

		#user {
			height:275px;
			padding-top:10px;
			padding-left:100px;
			padding-right:100px;
			padding-bottom:10px;
			background-color:white;
			font-weight:75;
			font-size:30px;
		}

		#left_col_user {
		   float:left;
		   width:380px;
		}

		#right_col_user {
		   float:right;
		   width:380px;
		}

		.panelbutton {
		  	font-size:1.25em;
		    padding:0.0em;
			border-width:0em;
		    border-radius:0em;
			font-family:Roboto, helvetica, arial, sans-serif;
			width:250px;
			color:white;
			background-color:red;
		}
		
		#container2 {
			padding-top:10.0em;
		}
		
		#alert {
			font-weight: 350;
			font-size: 30px;
			color: black;
		}

		.input {
		    font-size: 2em;
		    padding: 0.5em;
			border-width: 0em;
		    border-radius: 0em;
			width: 500px;
			font-family: Roboto, helvetica, arial, sans-serif;
			background-color: white;
		}
	
		.textarea {
			font-size:2.1em;
		    padding:0.5em;
			border-width:0em;
		    border-radius:0em;
		    height:100px;
			width:500px;
			font-family:Roboto, helvetica, arial, sans-serif;
			background-color:white;
		}
	
		.button {
		    font-size: 3.5em;
		    padding: 0.5em;
			border-width: 0em;
		    border-radius: 0em;
			width:500px;
			font-family: Roboto, helvetica, arial, sans-serif;
			color: white;
			background-color: red;
		}
	}
		
		@media only screen and (min-width: 2024px) {

			h1 {
				font-weight: 250;
				font-size: 50px;	
				font-family: 'Aqua Grotesque';				
			}

			p1 {
				font-weight: 60;
				font-size: 15px;
			}

			p2 {
				font-weight: 75;
				font-size: 18px;
				font-family: arial;
			}

			p3 {
				font-weight: 100;
				font-size: 15px;
			}

			p4 {
				font-weight: 200;
				font-size: 40px;
				font-family: 'Aqua Grotesque';
			}

			p5 {
				font-weight: 300;
				font-size: 60px;
				font-family: 'Aqua Grotesque';
			}
		
		  	#hero {
				height: 400px; /* same as tablet and desktop */
				width: 1824px; /* why not cover, as above? */
				background-image: image_url('worldcropped.jpg');
				background-repeat: no-repeat;
				background-position: center top;
		/*		background-size: 100% auto; worst because picture resizes to keep full picture in view */
		/*		background-attachment: fixed; worst as it makes the rest of the body rollover hero image */
		  	}
			

			#aboutus {
				height:250px;
				padding-top:10px;
				padding-left:100px;
				padding-right:100px;
				padding-bottom:10px;
				background-color:white;
				font-weight:125;
				font-size:30px;
			}
		
			#research {
				height:350px;
				padding-top:10px;
				padding-left:100px;
				padding-right:100px;
				padding-bottom:10px;
				background-color:white;
				font-weight:125;
				font-size:30px;
			}

			#monetize {
				height: 350px;
				padding-top: 10px;
				padding-left:100px;
				padding-right:100px;
				background-color: white;
				font-weight: 125;
				font-size: 30px;
			}

			#user {
				height:350px;
				padding-top:10px;
				padding-left:100px;
				padding-right:100px;
				padding-bottom:10px;
				background-color:white;
				font-weight:125;
				font-size:30px;
			}
			
			#container2 {
				padding-top:20em;
			}

			#left_col_user {
			   float:left;
			   width:500px;
			}

			#right_col_user {
			   float:right;
			   width:500px;
			}

			.panelbutton {
			  	font-size:1.50em;
			    padding:0.0em;
				border-width:0em;
			    border-radius:0em;
				font-family:Roboto, helvetica, arial, sans-serif;
				width:250px;
				color:white;
				background-color:red;
			}
			
			#alert {
				font-weight: 400;
				font-size: 30px;
				color: black;
			}

			fieldset {
				padding-left: 60px;
			    font-size: 1.5em;
				border-width: 0;
			    border-radius: 0em;
			    font-family: Roboto, helvetica, arial, sans-serif;
			}
			
			.input {
			    font-size: 2em;
			    padding: 0.5em;
				border-width: 0em;
			    border-radius: 0em;
				width: 460px;
				font-family: Roboto, helvetica, arial, sans-serif;
				background-color: white;
			}
	
			.textarea {
				font-size:2.1em;
			    padding:0.5em;
				border-width:0em;
			    border-radius:0em;
			    height:125px;
				width:460px;
				font-family:Roboto, helvetica, arial, sans-serif;
				background-color:white;
			}
	
			.button {
			    font-size: 2.5em;
			    padding: 0.5em;
				border-width: 0em;
			    border-radius: 0em;
				width: 460px;
				font-family: Roboto, helvetica, arial, sans-serif;
				color: white;
				background-color:red;
			}

			#alert {
				font-weight: 375;
				font-size: 35px;
				color: black;
			}

		}