// Place all the styles related to the Leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<!-- // [start style] -->

	html {
	  box-sizing: border-box;
	}
	
	*, *:before, *:after {
	/* This helps with boxes above and below in the form to align properly */
	  box-sizing: inherit;
	}
	
	.bodyhome {
        margin: 0px;
        padding: 5px;
		background-color:white;
	}
	
	h1 {
		font-weight: 100;
		font-size: 20px;			
	}
	
	p {
		font-weight: 100;
		font-size: 15px;
	}

	p1 {
		font-weight: 100;
		font-size: 15px;
		color: white;
	}
	
/*	#bigfont {
		font-weight: 150;
		font-size: 20px;
		color: black;
		font-family: Roboto, helvetica, arial, sans-serif;
	}
*/
	
	#header {
		height: 70px;
		padding-top: 15px;
		padding-left:20px;
		background-color: #7187a8;
	}
	
	#container1 {
	    margin-left: auto;
	    margin-right: auto;
	    background-color: transparent;
	}
	
  	#hero {
/*		height: 300px;   same as the height of background image - moved to per device section */
		background-size: cover; /* better because picture does not resize to keep full picture in view */
        background-image: image_url('worldcropped.jpg');
		background-repeat: no-repeat;
		background-position: center top;
/*		background-size: 100% auto; worst because picture resizes to keep full picture in view */
/*		background-attachment: fixed; worst as it makes the rest of the body rollover hero image */
  	}
	
	#aboutus {
		height: 525px;
		padding-top: 10px;
		padding-left:20px;
		background-color: white;
		font-weight: 150;
		font-size: 20px;
	}
	
	p2 {
		font-weight: 75;
		font-size: 15px;
	}
	
	#container2 {
/*	    margin-left: auto; */
/*	    margin-right: auto; */
/*		margin-top:0px; */
		padding-top:4.0em;  /* positions text in container */
	    background-color: transparent;
	}
	
  	#contact {
		height:300; /* keeps the block nice and fixed width on screen */
        margin-top: 0px;
		padding-top: 0.5em;
		padding-bottom: 1.8em;
        background-color: #7AA65B;
		background-size: cover; /* covers full availablr space */
  	}
	
	#container3 {
	    margin-left: auto;
	    margin-right: auto;
		padding-top: 0.0em;
	    width: 90%;
		font-weight: 10;
		font-size: 6px;
	    color: white;
        font-family: Roboto, helvetica, arial, sans-serif;
	    background-color: transparent;
	}
	
	.input {
	    font-size: 2.2em;
	    padding: 0.5em;
		border-width: 0em;
	    border-radius: 0em;
		width: 260px;
		font-family: Roboto, helvetica, arial, sans-serif;
	}
	
	.textarea {
		font-size: 2.2em;
	    padding: 0.5em;
		border-width: 0em;
	    border-radius: 0em;
		width: 260px;
		font-family: Roboto, helvetica, arial, sans-serif;
	}
	
	.button {
	    font-size: 2.5em;
	    padding: 0.5em;
		border-width: 0em;
	    border-radius: 0em;
		width: 260px;
		font-family: Roboto, helvetica, arial, sans-serif;
		color: white;
		background: #E6253F;
	}
	
	#footer {
        padding: 6.0em;
        background-color: #4D4235;
	/*	height: 300px; 
		background-size: cover; */
	}
	
	#container4 {
	    margin-left: auto;
	    margin-right: auto;
	    background-color: transparent;
	    color: white;
        font-family: Roboto, helvetica, arial, sans-serif;
	}
	
	#container4 a {
		color:white;
	  	text-decoration: none;
	 }
	
	#smallfont {
		font-weight: 50;
		font-size: 10px;
		color: white;
		font-family: Roboto, helvetica, arial, sans-serif;
	}
	
	@media only screen and (max-width: 600px) {
		
	  	#hero {
			height: 300px;  /* same as the height of background image */
			background-size: cover;
		}
	}
	
	@media only screen and (min-width: 601px) and (max-width: 1023px) {
		h1 {
			font-weight: 200;
			font-size: 25px;			
		}
		
		p1 {
			font-weight: 100;
			font-size: 20px;
		}
		
		#hero {
			height:400px; /* keep as the desired height of background image */
			background-size: cover; /* looses cover property even though defined in All */
		}
		
		#aboutus {
			height: 480px;
			padding-top: 10px;
			padding-left:20px;
			background-color: white;
			font-weight: 150;
			font-size: 30px;
		}
	
		p2 {
			font-weight: 75;
			font-size: 15px;
		}
		
		#container2 {
			padding-top:10.0em;
		}
		
		#bigfont {
			font-weight: 400;
			font-size: 25px;
			color: black;
			font-family: Roboto, helvetica, arial, sans-serif;
		}
		
	  	#contact {
			height:400;
	        margin-top: 0px;
			padding-top: 0.5em;
			padding-bottom: 1.8em;
	  	}
		
		#p1 {
			font-weight: 300;
			font-size: 25px;
			color: black;
		}
		
		#left_col {
		   float:left;
		   width:250px;
		}

		#right_col {
		   float:right;
		   width:150px;
		}
	}
	
	@media only screen and (min-width: 1024px) and (max-width: 2023px) {	
		h1 {
			font-weight: 250;
			font-size: 30px;			
		}

		p {
			font-weight: 100;
			font-size: 20px;			
		}
		
	  	#hero {
			height: 400px; /* same as for tablet screen */
			background-size: cover;
	  	}
		
		#aboutus {
			height: 360px;
			padding-top: 15px;
			padding-left:20px;
			background-color: white;
			font-weight: 150;
			font-size: 30px;
		}
		
		#container2 {
			padding-top:10.0em;
		}
		
		#bigfont {
			font-weight: 500;
			font-size: 30px;
			color: black;
			font-family: Roboto, helvetica, arial, sans-serif;
		}
		
	  	#contact {
			height:400;
	        margin-top: 0px;
			padding-top: 0.5em;
			padding-bottom: 1.8em;
	  	}
		
		#p1 {
			font-weight: 350;
			font-size: 30px;
			color: black;
		}

		.input {
		    font-size: 2em;
		    padding: 0.5em;
			border-width: 0em;
		    border-radius: 0em;
			width: 360px;
			font-family: Roboto, helvetica, arial, sans-serif;
		}
	
		.textarea {
			font-size: 2.1em;
		    padding: 0.5em;
			border-width: 0em;
		    border-radius: 0em;
			width: 360px;
			font-family: Roboto, helvetica, arial, sans-serif;
		}
	
		.button {
		    font-size: 2.5em;
		    padding: 0.5em;
			border-width: 0em;
		    border-radius: 0em;
			width: 360px;
			font-family: Roboto, helvetica, arial, sans-serif;
			color: white;
			background: #229936;
		}
		
		#left_col {
		   float:left;
		   width:250px;
		}

		#right_col {
		   float:right;
		   width:150px;
		}
	}
		
		@media only screen and (min-width: 2024px) {	
			h1 {
				font-weight: 600;
				font-size: 60px;			
			}

			p {
				font-weight: 500;
				font-size: 30px;			
			}
		
		  	#hero {
				height: 400px; /* same as tablet and desktop */
				width: 1824px;
		  	}
			
			#aboutus {
				height: 295px;
				padding-top: 15px;
				padding-left:50px;
				background-color: white;
				font-weight: 100;
				font-size: 10px;
			}
			
			#container2 {
				padding-top:20em;
			}
			
			#bigfont {
				font-weight: 500;
				font-size: 30px;
				color: black;
				font-family: Roboto, helvetica, arial, sans-serif;
			}

		  	#contact {
				height:400;
		        margin-top: 0px;
				padding-top: 0.5em;
				padding-bottom: 1.8em;
				font-family: Roboto, helvetica, arial, sans-serif;
		  	}
			
			#p1 {
				font-weight: 400;
				font-size: 30px;
				color: black;
			}

			fieldset {
				padding-left: 60px;
			    font-size: 1.5em;
				border-width: 0;
			    border-radius: 0em;
			    font-family: Roboto, helvetica, arial, sans-serif;
			}
			
			.input {
			    font-size: 2em;
			    padding: 0.5em;
				border-width: 0em;
			    border-radius: 0em;
				width: 460px;
				font-family: Roboto, helvetica, arial, sans-serif;
			}
	
			.textarea {
				font-size: 2.1em;
			    padding: 0.5em;
				border-width: 0em;
			    border-radius: 0em;
				width: 460px;
				font-family: Roboto, helvetica, arial, sans-serif;
			}
	
			.button {
			    font-size: 2.5em;
			    padding: 0.5em;
				border-width: 0em;
			    border-radius: 0em;
				width: 460px;
				font-family: Roboto, helvetica, arial, sans-serif;
				color: white;
				background: #229936;
			}
		}