// Place all the styles related to the Networks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<!-- // [start style] -->

.myemailinput input {
	/* Styling for the age entry field on new user landing page */
	/* width: 20%; */
	width: 350px;
	height: 30px;
	text-align: center;
	margin-left: 0%;
	color:black;
	background-color:white;
}

.myinput {
	margin-top: 3%;
	font-size: 1.0em;
	color:blue;
}


@media only screen and (max-width: 600px) {

	/* For mobile screens */

	.myemailinput input {
		/* Styling for the age entry field on new user landing page */
		/* width: 20%; */
		width: 250px;
		height: 30px;
		text-align: center;
		margin-left: 0%;
		color:black;
		background-color:white;
	}

	.myinput {
		margin-top: 3%;
		font-size: 0.8em;
		color:blue;
	}
}