// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ===========================
   ======= Body style ======== 
   =========================== */

.body {
    margin: 0;
    padding: 5px;
	color: black;
	font-size: 100%; /* Base font size: 14px */
	font-family: Roboto, helvetica, arial, sans-serif;
	background-color:white;
	}
	
	
/* ===========================
   ========= Headings ======== 
   =========================== */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

/* ===========================
   ======= Anchor style ====== 
   =========================== */

a {
	outline: 0;
	}

a img {
	border: 0px; 
	text-decoration: none;
}

a:link, a:visited {
	color: #CF5C3F;
	padding: 0 1px;
	text-decoration: none;
}

a:hover, a:active {
	background-color: #CF5C3F;
	color: #fff;
	text-decoration: none;
}

/* ===========================
   ===== Main Header ===== 
   =========================== */

.header {
}

/* ===========================
   ======= TopContent Area ====== 
   =========================== */

.topcontent {	
}

/* ===========================
   ======= Content Area ====== 
   =========================== */

#content {
	margin-top:5%;
	margin-bottom: 3%;
}

#p1 {
	font-weight: 300;
	font-size: 25px;
	color: red;
}

fieldset {
	font-size: 1.25em;
	padding-left: 0px;
	border-width: 0;
    border-radius: 0em;
}	

form.myform select {
	width: 10%;
	height: 30px;
    font-size:1em;
    color:black;
    background-color:white;
}

form.myform input {
	width: 10%;
	height: 30px;
    font-size:1em;
    color:black;
    background-color:white;
}

#content .agree input {
	/* Styling for the I Agree button on TOS form */
  width: 15%;
  height: 50px;
  font-size:1.25em;
  color:black;
  background-color:white;
}

.mytags input {
	/* Styling for the button choices selection field on many forms including gender, colors, etc. */
	width: 4%;
	height: 30px;
	display:inline;
	margin-left: 45%;
	color:black;
	background-color:white;
}

.myyrsinput input {
	/* Styling for the age entry field on new user landing page */
	width: 10%;
	height: 30px;
	text-align: center;
	margin-left: 45%;
	color:black;
	background-color:white;
}

.myzipinput input {
	width: 10%;
	height: 30px;
	text-align: center;
	margin-left: 45%;
	color:black;
	background-color:white;
}

.myethnicityinput input {
	width: 4%;
	height: 30px;
	text-align: center;
	margin-left: 35%;
	color:black;
	background-color:white;
}


.mybiglistinput input {
	width: 4%;
	height: 30px;
	text-align: center;
	margin-left: 30%;
	color:black;
	background-color:white;
}


.myinput {
	margin-top: 3%;
}

fieldset input {
	/* Next or Submit button styling for all user forms */
  width: 10%;
  height: 30px;
  font-size:0.8em;
  color:black;
  background-color:white;
}

/* ===========================
   ========= Footer ========== 
   =========================== */

.footer {
	height:30px;
	margin-top: 10%;
	margin-bottom: 2%;
	padding-left: 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background-color:white;
}	

/* ===========================
   ====== Media Queries ====== 
   =========================== */

@media only screen and (min-width: 50px) and (max-width: 600px)
{
	p {font-size: 1.2em}	
	
	.myyrsinput input {
		/* Styling for the age entry field on new user landing page on mobile */
		width: 100px;
		height: 40px;
		text-align: center;
		margin-left: 35%;
		color:black;
		background-color:white;
	}
	
	#content .agree input {
		/* Styling for the I Agree button on TOS form for mobile devices */
	  width: 100px;
	  height: 40px;
	  font-size:1.2em;
	  color:black;
	  background-color:white;
	}
	
	
	fieldset input {
		/* Next or Submit button styling for all mobile user forms */
	  width: 100px;
	  height: 40px;
	  font-size:1.0em;
	  color:black;
	  background-color:white;
	}
	
	.mytags input {
		/* Styling for the button choices selection field on mobile e.g. Country */
		width: 4%;
		height: 30px;
		display:inline;
		margin-left: 35%;
		color:black;
		background-color:white;
	}
	
	.myzipinput input {
		/* Styling for the ZIP entry field on mobile */
		width: 100px;
		height: 40px;
		text-align: center;
		margin-left: 35%;
		color:black;
		background-color:white;
	}
	
	
	.mybiglistinput input {
		width: 4%;
		height: 30px;
		font-size: 0.2em;
		text-align: center;
		margin-left: 2%;
		color:black;
		background-color:white;
	}
	
}

