<div>
	<div class="row" align="center"><label><h2>Welcome {{emailId}} to your Dashboard.</h2></label></div>
    <div clas="row"><label><h3>Total Credits:  {{completedSurveys}} </h3></label></div>
	<div class="row">
		<div class="col-md-7" id="creditsChart"></div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="well well-lg">
                You will earn 1-3 point for each complete. Every 5 points will lead to a $5 reward. We will send your reward within a week.
                <br/>
                <br/>
                <div align="center">
                <a class="btn btn-danger" role="button" href="https://www.ketsci.com/users/new?NID=MMq0514UMM20bgf17Yatemoh&CID=KETSCI_GUEST&userRecordId={{userId}}" target="_blank">Take 
                Surveys</a>
                </div>
           </div>
        </div>
	</div>
	<form role="form">
		<div clas="row"><label><h3>Subscriptions</h5></label></div>
		<!--<div class="well well-sm"><h4 class="list-group-item-heading">Survey Info</h4></div>-->
		<div clas="panel panel-default">
			<div class="row">
<!--
				<div class="col-md-6">
					<span class="text-muted"><h5>How would you like to redeem your rewards upon reaching a goal?&nbsp;&nbsp;</h5></span>
				</div>
				<div class="col-md-6">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary active">
							<input type="radio" name="redeem" id="amznCard" autocomplete="off" ng-model="redeem" value="1">
							Amazon Gift Card
							&lt;!&ndash;<img src="/panel/img/visa-card.jpg" class="cardImg">&ndash;&gt;
						</label>
						&nbsp;&nbsp;
						<label class="btn btn-primary">
							<input type="radio" name="redeem" id="charity" autocomplete="off" ng-model="redeem" value="2">
							Donate to Charity
							&lt;!&ndash;<img src="/panel/img/charity_cards.png" class="cardImg">&ndash;&gt;
						</label>
					</div>
				</div>
-->
				<div  class="form-group">
					<label class="control-label col-sm-4"><span class="text-muted"><h5>How would you like to redeem your rewards upon reaching a goal?&nbsp;&nbsp;</h5></span> </label>
					<div class="col-sm-3">
						<div class="input-group btn btn-default">
							<input type="radio" value="1" ng-model="redeem" />
								<span class="input-group-label">
									<label class="control-label">Amazon Gift eCard&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								</span>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="input-group btn btn-default">
							<input type="radio" value="1" ng-model="redeem" />
								<span class="input-group-label">
									<label class="control-label">iTunes Gift eCard (Min $25)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								</span>
						</div>
					</div>
					<!-- <div class="col-sm-2">
						<div class="input-group btn btn-default">
							<input type="radio" value="2" ng-model="redeem" />
								<span class="input-group-label">
									<label class="control-label">Bank check (Min $25)&nbsp;&nbsp;&nbsp;&nbsp;</label>
								</span>
						</div>
					</div> -->
					<div class="col-sm-2">
						<div class="input-group btn btn-default">
							<input type="radio" value="2" ng-model="redeem" />
								<span class="input-group-label">
									<label class="control-label">Donate to Charity&nbsp;&nbsp;&nbsp;&nbsp;</label>
								</span>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<div class="row">
<!--
				<div class="col-md-6">
					<span class="text-muted"><h5>How frequently you want us to send surveys?&nbsp;&nbsp;</h5></span>
				</div>
				<div class="col-md-6">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary">
							<input type="radio" ng-model="contactFreq" ng-class="{active: contactFreq == '1'}" ng-value="1">
							Daily
							&lt;!&ndash;<img src="/panel/img/visa-card.jpg" class="cardImg">&ndash;&gt;
						</label>
						<label class="btn btn-primary active">
							<input type="radio" ng-model="contactFreq"ng-class="{active: contactFreq == '2'}" ng-value="2">
							Weekly
							&lt;!&ndash;<img src="/panel/img/visa-card.jpg" class="cardImg">&ndash;&gt;
						</label>
						<label class="btn btn-primary">
							<input type="radio" ng-model="contactFreq" ng-class="{active: contactFreq == '3'}" ng-value="3">
							Monthly
							&lt;!&ndash;<img src="/panel/img/charity_cards.png" class="cardImg">&ndash;&gt;
						</label>
					</div>
				</div>
-->
				<!-- <div  class="form-group">
					<label class="control-label col-sm-4"><span class="text-muted"><h5>How frequently you want to take surveys?&nbsp;&nbsp;</h5></span> </label>
					<div class="col-sm-1">
						<div class="input-group btn btn-default">
							<input type="radio" value="1" ng-model="contactFreq" />
								<span class="input-group-label">
									<label class="control-label">Daily&nbsp;&nbsp;&nbsp;&nbsp;</label>
								</span>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="input-group btn btn-default">
							<input type="radio" value="2" ng-model="contactFreq" />
								<span class="input-group-label">
									<label class="control-label">Alternate Days&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								</span>
						</div>
					</div>
					<div class="col-sm-1">
						<div class="input-group btn btn-default">
							<input type="radio" value="0" ng-model="contactFreq" />
								<span class="input-group-label">
									<label class="control-label">Weekly</label>
								</span>
						</div>
					</div>
					<div class="col-sm-1">
						<div class="input-group btn btn-default">
							<input type="radio" value="3" ng-model="contactFreq" />
								<span class="input-group-label">
									<label class="control-label">Not Now&nbsp;&nbsp;&nbsp;&nbsp;</label>
								</span>
						</div>
					</div>
				</div> -->
			</div>
			<br/>
			<!-- <div class="row">
				<div class="col-md-4">
					<span class="text-muted"><h5>Click here to unsubscribe&nbsp;&nbsp;</h5></span>
				</div>
				<div class="col-md-6">
					<button type="submit" class="btn btn-danger" ng-click="unsubscribeSurvey()">Unsubscribe</button>
				</div>
			</div> -->
		</div>
		<div class="padSm">&nbsp;</div>
<!--
		<div clas="row"><label class="badge badge-info"><h5>Legal</h5></label></div>
		<div class="panel panel-info panel-body">
			<div class="row">
				<div class="col-md-12 ">
					<a href="#">Terms Of Service</a>
					<a href="#">Privacy Policy</a>
				</div>
			</div>
		</div>
-->

		<div class="form-group modal-footer">
            
                       
			<div class="col-sm-offset-3 col-sm-9">
                <div>
                <div class="badge badge-success" ng-show="save_prefs">
	               The preferences were saved successfully.&nbsp;<a class="badge badge-dark" href="" ng-click="removeSavePrefAlert()">x</a>
                </div>
                <div class="badge badge-danger" ng-show="save_prefs_error">
                    There was a problem saving your preferences. Please try again.&nbsp;<a class="badge badge-dark" href="" ng-click="removeSavePrefAlert()">x</a>
                </div>
                <div class="badge badge-success" ng-show="cancel_prefs">
	               The preferences will not be saved.&nbsp;<a class="badge badge-dark" href="" ng-click="removeCancelAlert()">x</a>
                </div> 
                </div>
                <button type="submit" class="btn btn-danger" ng-click="saveUserPrefs()">Save</button>
				<button class="btn btn-default" type="button" ng-click="cancelPrefs()">Cancel</button>
			</div>
		</div>
	</form>
</div>