<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <p>Hi,

      <p>New surveys are waiting for you at:</p>

      <p>https://www.ketsci.com/users/new?NID=MMq0514UMM20bgf17Yatemoh&CID=KETSCI_GUEST&userRecordId=<%= @user.id%></p>

      <p>For every completed Survey you earn a Point. Once you have 5 Points you can cash out. You may click this link multiple times to take surveys. We will let you know if the allowed maximum limit of surveys per 24 hrs. is reached.</p>

      <p>Visit https://www.ketsci.com/panel to set your preferences e.g. to change the frequency of Survey reminders, or to pick your choice for cashing out. If you forget your password send an email to projectsmanagement@ketsci.com from your registered email address.</p>

      <p>To unsubscribe send an email to projectsmanagement@ketsci.com with Unsubscribe in the Subject. We will take you off the mailing list asap.</p>

      <p>Thank you!</p>
      
    </p>
  </body>
</html>