<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    <p>Hi,</p>
      
      <p>New surveys are waiting for you at:</p>

      <p>https://www.ketsci.com/users/new?NID=MMq0514UMM20bgf17Yatemoh&CID=KETSCI_GUEST&userRecordId=<%= @user.id%></p>
      
      <p>For every completed Survey you will earn 1-3 Points. Every 5 points earned lead to a $5 reward. You may take multiple surveys. We will let you know if the allowed maximum limit of surveys in a 24 hr period has been reached. </p>

      <p>Visit your personal dashboard at https://www.ketsci.com/panel to see how many surveys you have completed at any time and to set your preferences e.g. pick the method to get your rewards.</p>

      <p>Your userid is: <%= @user.emailId %> and password is: <%= @user.password %></p>

      <p>To unsubscribe send an email to projectsmanagement@ketsci.com with "Unsubscribe" in the Subject line.</p>

      <p>Thanks you!</p>
    </p>
  </body>
</html>