<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi,
      
      Welcome to joining Ketsci!

      Click on the Link above to start completing a survey. For every completed Survey you earn a Point. Once you have 5 Points you can cash out. 

      https://www.ketsci.com/users/new?NID=MMq0514UMM20bgf17Yatemoh&CID=KETSCI_GUEST

      You may click this link multiple times to take surveys. We will let you know if the allowed maximum limit of surveys in 24 hrs. has been reached.
      
      Visit https://www.ketsci.com/panel to set your preferences e.g. to change the default Daily frequency of Survey reminders, or to pick your choice for cashing out.

      Your userid is: <%= @user.emailId %> and password is: <%= @user.password %>

      To unsubscribe send an email to projectsmanagement@ketsci.com with Unsubscribe in the Subject. We will take you off the mailing list asap.

      Thanks you!
    </p>
  </body>
</html>